ul {
  margin-block: 12px;
  list-style-type: disc;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

h2 {
  font-weight: 700;
}

h3 {
  display: inline-block;
  font-weight: 600;
  margin-top: 10px;
}
